# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env

# SQLite / Banco de dados
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db
